# /etc/systemd/system/nextcloud.service
[Unit]
Description=nextcloud uwsgi service
After=network.target redis.service
Before=nginx.service
Requires=nextcloud.service

[Service]
Type=notify
User=nextcloud
Group=nextcloud
Environment=NEXTCLOUD_CONFIG_DIR=/etc/nextcloud/
ExecStart=/usr/bin/uwsgi --ini /etc/uwsgi/nextcloud.ini:nginx
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=always
KillSignal=SIGQUIT
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
MountFlags=private
#ExecStartPost=+/usr/bin/nsenter -t $MAINPID -m /bin/mount --bind /some/aditional/path /home/nextcloud/data/user/files/xyz
#BindReadOnlyPaths=/some/aditional/path:/home/nextcloud/data/user/files/xyz

[Install]
WantedBy=multi-user.target
Also=nextcloud.socket
