[Unit]
Description=wordpress uwsgi service
After=network.target
Before=nginx.service

[Service]
Type=notify
DynamicUser=yes
User=wordpress
Group=wordpress
RuntimeDirectory=wordpress
StateDirectory=wordpress
LogsDirectory=wordpress
WorkingDirectory=/var/lib/wordpress/
ExecStart=/usr/bin/uwsgi --ini /etc/uwsgi/wordpress.ini:service --master-fifo /run/wordpress/master-fifo
ExecReload=/bin/bash -c 'echo w > /run/wordpress/master-fifo'
ExecStop=/bin/bash -c 'echo q > /run/wordpress/master-fifo'
Restart=always
TimeoutSec=infinity
Sockets=wordpress.socket

IPAccounting=yes
LockPersonality=yes
PrivateDevices=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
Also=wordpress.socket
